div.navbar.navbar-default(role='navigation')

    div.navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href='/') Angular Hapi Couch

    div.collapse.navbar-collapse
        ul.nav.navbar-nav
            li
                a(href='/api') API
            li
                a(href='/users') Users