div.cr-anyof-item

    div.cr-item-controls.btn-group
        
        button.btn.btn-sm(ng-click='moveUp()')
            span.glyphicon.glyphicon-arrow-up
            
        button.btn.btn-sm(ng-click='moveDown()')
            span.glyphicon.glyphicon-arrow-down
            
        button.btn.btn-sm.btn-danger(ng-click='remove()')
            span.glyphicon.glyphicon-remove-circle