div
    label
        strong {{name}}

    div.indent

        div.btn-group
            a.btn.dropdown-toggle(data-toggle='dropdown', href='#') Add&nbsp;
                span.caret

            ul.dropdown-menu(role='menu')
                li(ng-repeat='schema in schema.items.anyOf')
                    a(ng-click='addItem(schema)') {{schema.name}}

    ul.unstyled
        li(ng-repeat='model in model')
            div(cr-anyof-item, model='model', path='{{path}}[ {{$index}} ]')