div

    label.control-label(ng-show='options.showLabel') {{name}}:

    div.cr-indent
    
        button.btn(ng-click='addItem(schema.items)') Add

        ul.unstyled
            li(ng-repeat='model in model')
                div(cr-array-item, schema='schema.items', model='model', path='{{path}}/{{$index}}')