div
    hr    
    div.item-controls
    
        div.btn-group
            button.btn.btn-small(ng-click='moveUp()') Up
            button.btn.btn-small(ng-click='moveDown()') Down
            
        button.btn.btn-small.btn-danger(ng-click='remove()') Remove