div.form-group.row(ng-class='{ \'has-error\': hasErrors() }')
    label.col-md-12.control-label(ng-show='options.showLabel') {{name}}
    div.col-md-3
        div.input-group.date
            input.form-control(type='text', data-format='dd.MM.yyyy')
            span.input-group-addon
                span.glyphicon.glyphicon-calendar
    div.col-md-3
        div.input-group.time
            input.form-control(type='text', data-format='hh:mm')
            span.input-group-addon
                span.glyphicon.glyphicon-time
        
    //-<div class="input-append date" id="dp3" data-date-format="dd.mm.yyyy"> 
    //-  <input type="text" class="input-small"> 
    //-  <span class="add-on"><i class="icon-th"></i></span> 
    //-  </div> 
    //-<div class="input-append bootstrap-timepicker"> 
    //-  <input class="time input-small" type="text" class="input-small"> 
    //-  <span class="add-on"><i class="icon-time"></i></span> 
    //-</div> 