span

    label.control-label(for='dp3', ng-show='options.showLabel') {{name}}

    div.input-append.date(id='dp3', data-date-format='dd.mm.yyyy')
        input.input-sm(type='text')
        span.add-on
            span.glyphicon.glyphicon-icon-th

    div.input-append.bootstrap-timepicker
        input.time.input-sm(type='text')
        span.add-on
            span.glyphicon.glyphicon-icon-time
