span
    label{{name}}

    div.input-append.date(id='dp3', data-date-format='dd.mm.yyyy')
        input.input-small(type='text')
        span.add-on
            i.icon-th

    div.input-append.bootstrap-timepicker
        input.time.input-small(type='text')
        span.add-on
            i.icon-time
