div.form-group
    label.control-label {{name}}
        div.row
            div.col-md-6
                div.thumbnail
                    img.img-rounded(height='140')
            div.col-md-6
                span.btn.btn-default.cr-btn-file
                    | Browse
                    input(type='file')