div.form-group(ng-class='{ \'has-error\': hasErrors() }')
    label.control-label(ng-show='options.showLabel') {{name}}:
    div.cr-editor.clearfix(ng-class='{ \'cr-border\': options.showBorder }')
        textarea.form-control.cr-editor-area(ng-model='model', rows='1')
        div.cr-editor-preview
        div.btn-group.pull-right
            button.btn.btn-default(ng-click='togglePreview()') {{ isPreview ? "Edit" : "Preview" }}
        p.help-block(ng-show='hasErrors()') {{ getFirstError() }}