div.form-group(ng-class='{ \'has-error\': hasErrors() }')

    label.control-label(for='{{name}}', ng-show='options.showLabel') {{name}}:

    div.cr-editor
    
        textarea.cr-editor-area(ng-model='model', rows='1', id='{{name}}')
        
        div.cr-editor-preview
        
        button.btn.pull-right(ng-click='togglePreview()') {{ isPreview ? 'Edit' : 'Preview' }}
        
        p.help-block(ng-show='hasErrors()') {{ getFirstError() }}