div.modal.fade

    div.modal-dialog

        div.modal-content

            div.modal-header

                button.close(data-dismiss='modal') x
                h4.modal-title {{type}}

            div.modal-body

                div(cr-model-list, type='{{type}}')

            div.modal-footer

                button.btn.pull-right(ng-click='cancel', data-dismiss='modal') Cancel