div.modal.fade(id='{{modalId}}', tabindex='-1')
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title {{type}}
            div.modal-body
                div(cr-model-form, schema='schema', model='model', valid='data.valid', debug='data.debug')
                div(ng-switch='ng-switch', on='data.state')
                    div.alert.alert-info(ng-switch-when='loading') Loading...
                    div.alert.alert-info(ng-switch-when='saving') Saving...
                    div.alert.alert-danger(ng-switch-when='error')
                    h4 ERROR
                    pre {{data.error|json}}                  
                    pre {{data.error.stack}}                  
            div.modal-footer(ng-show='data.state == \'editing\'')
                button.btn.btn-primary.pull-left(ng-click='save()', ng-class='{ disabled: !data.valid }') Save
                button.btn.btn-default.pull-right(ng-click='cancel()', data-dismiss='modal') Cancel
                button.btn.btn-default(ng-click='toggleDebug()') Debug
                button.btn.btn-default(ng-repeat='button in data.buttons', ng-click='buttonClick(button.event)') {{button.name}}