div.modal.fade(id='{{modalId}}', tabindex='-1')
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title {{type}}
            div.modal-body
                div(cr-model-list, type='{{type}}', view='view')
            div.modal-footer
                button.btn.btn-default.pull-right(ng-click='cancel', data-dismiss='modal') Cancel
