div
    div(cr-model-form, schema='schema', model='model', valid='data.valid', debug='data.debug', path='{{ path }}')

    div.row(ng-switch, on='data.state')

        div.alert.alert-info(ng-switch-when='loading') Loading&hellip;
        div.alert.alert-info(ng-switch-when='saving') Saving&hellip;
        div.alert.alert-error(ng-switch-when='error')
            h4 ERROR
            pre {{ data.error|json }}
            pre {{ data.error.stack }}

        div.col-md-6(ng-switch-when='editing')
            button.btn.btn-primary.margin-right-10(ng-click='save()', ng-class='{ disabled: !data.valid }') Save
            button.btn.btn-danger.pull-right(ng-click='destroy()', ng-show='!isNew()')
                span.glyphicon.glyphicon-remove
                | &nbsp;Delete            
            button.btn.pull-right.pull-right.margin-right-10(ng-click='toggleDebug()') Debug             
            
        div.col-md-6       
            button.btn.btn-default.pull-right(ng-click='goBack()')
                span.glyphicon.glyphicon-arrow-left
                | &nbsp;Back                
