div.form-group(ng-class='{ \'has-error\': hasErrors() }')
    label.control-label(ng-show='options.showLabel') {{name}}:
    div.cr-indent
        ul.list-unstyled
            li.checkbox(ng-repeat='row in rows')
                label.control-label
                    input(type='checkbox', ng-model='row.selected')
                    | {{row.name}}
        p.help-block(ng-show='hasErrors()') {{ getFirstError() }}
