div.form-group(ng-class='{ \'has-error\': hasErrors() }')
    label.control-label(ng-show='options.showLabel') {{name}}:
    input.form-control(type='number', ng-model='model')
    p.help-block(ng-show='hasErrors()') {{ getFirstError() }}