div.form-group(ng-class='{ \'has-error\': hasErrors() }')

    label.control-label(for='{{name}}') {{name}}:
    
    input.form-control(type='number', ng-model='model', id='{{name}}')

    p.help-block(ng-show='hasErrors()') {{ getFirstError() }}