div.form-group(ng-class='{ \'has-error\': hasErrors() }')

    label.control-label(for='{{name}}', ng-show='options.showLabel') {{name}}:
    
    input(type='password', ng-model='pass1', style='margin-right: 4px', id='{{name}}')
    input(type='password', ng-model='pass2')

    p.help-block(ng-show='hasErrors()') {{ getFirstError() }}