div.control-group(ng-class='{ \'has-error\': hasErrors() }')
    label.control-label {{name}}:
    input(type='password', ng-model='pass1', style='margin-right: 4px')
    input(type='password', ng-model='pass2')

    span(ng-switch, on='getFirstError()')
        p.help-inline(ng-switch-when='required') Required
        p.help-inline(ng-switch-when='match') Passwords do not match
        p.help-inline(ng-switch-when='maxLength') Value is longer than {{schema.maxLength}}
        p.help-inline(ng-switch-when='minLength') Value is shorter than {{schema.minLength}}