div.form-group(ng-class='{ \'has-error\': hasErrors() }')
    label.control-label(ng-show='options.showLabel') {{name}}:
    div.row
        div.col-md-6
            input.form-control(type='password', ng-model='pass1')
        div.col-md-6
            input.form-control(type='password', ng-model='pass2')
    p.help-block(ng-show='hasErrors()') {{ getFirstError() }}