div
    div.form-group(ng-class='{ \'has-error\': hasErrors() }')
        label.control-label(ng-show='options.showLabel') {{name}}:
        div.cr-preview(ng-show='model.id_')
        div.cr-ref-controls
            div.btn-group
                button.btn.btn-default(ng-click='newModel()') New
                button.btn.btn-default(ng-show='hasModel()', ng-click='updateModel()') Edit
                button.btn.btn-default(ng-click='selectModel()') Select
        div.help-block(ng-show='hasErrors()') {{ getFirstError() }}
    div(cr-model-modal, modal-id='{{editModalId}}', type='{{schema.$ref}}', path='{{path}}', defaults='options.defaults')
    div(cr-model-list-modal, modal-id='{{selectModalId}}', type='{{schema.$ref}}', view='options.listView')