div
    label
        strong {{name}}:

    div.indent.control-group(ng-class='{ \'has-error\': hasErrors() }')
    
        div(cr-ref-preview, type='{{schema.$ref}}', options='{{schema.preview}}')
        
        span(ng-switch, on='getFirstError()')
            p.help-block(ng-switch-when='required') Required

        div.btn-group
            button.btn(ng-click='newModel()') New
            button.btn(ng-show='hasModel()', ng-click='updateModel()') Edit
            button.btn(ng-click='selectModel()') Select

    div(cr-model-modal, modal-id='{{editModalId}}', type='{{schema.$ref}}', path='{{path}}')
    div(cr-model-list-modal, modal-id='{{selectModalId}}', type='{{schema.$ref}}')