div.form-group(ng-class='{ \'has-error\': hasErrors() }')
    label.control-label(ng-show='options.showLabel') {{name}}:
    select.form-control(ng-model='selectedRow', ng-options='r.name for r in rows')
        option(value='') -- choose --
    p.help-block(ng-show='hasErrors()') {{ getFirstError() }}