div.form-group(ng-class='{ \'has-error\': hasErrors() }')

    label.control-label(for='{{name}}', ng-show='options.showLabel') {{name}}:

    select(ng-model='selectedRow', ng-options='r.name for r in rows', id='{{name}}')
        option(value='') -- choose --

      p.help-block(ng-show='hasErrors()') {{ getFirstError() }}
