div.form-group(ng-class='{ \'has-error\': hasErrors() }')

    label.control-label(for='{{name}}', ng-show='options.showLabel') {{name}}:

    textarea.form-control(ng-model='model', id='{{name}}')

    p.help-block(ng-show='hasErrors()') {{ getFirstError() }}