h1 API
p Below is a list of API endpoints:
pre
    | GET       <a href='/api' target='_self'>/api</a>                        Root
    | GET       <a href='/api/_index' target='_self'>/api/_index</a>                 Models
    | &nbsp;    
    | GET       <a href='/api/users/_schema' target='_self'>/api/users/_schema</a>          User schema
    | GET       <a href='/api/users/_views/all' target='_self'>/api/users/_views/all</a>       View all users
    | GET       <a href='/api/users/_views/names' target='_self'>/api/users/_views/names</a>     View user names
    | GET       <a href='/api/users' target='_self'>/api/users</a>                  List users
    | &nbsp;    
    | POST      /api/users                  Create user
    | GET       /api/users/:id              Read user
    | PUT       /api/users/:id              Update user
    | DELETE    /api/users/:id              Delete User