div.jumbotron

    h1 Angular Hapi Couch!

    p
        | Welcome to an example application that uses Angular.js, the node.js based API server Hapi and CouchDB for storage. 
        | Based on the <a href="https://github.com/skoni/cores-ng" target="_blank">cores-ng</a> library created by Till Reitemeyer.
    
div(ng-show='users')

    p Users:

    ol
        li(ng-repeat='name in names')
            a(ng-href='user/view/{{name.id}}') {{name.value}}
 
div(ng-hide='users')
            
    a.btn.btn-primary(ng-href='/users/add', target='_self')
        span.glyphicon.glyphicon-plus
        | &nbsp;Create Test Users         