h1 {{user.firstname}} {{user.lastname}}

table.table
    thead
        tr
            th Key
            th Value
    tbody
        tr(ng-repeat='key in order')
            td {{key}}
            td {{user[key]}}           

a.btn.btn-default.btn-primary(ng-href='/user/edit/{{user._id}}')
    span.glyphicon.glyphicon-pencil
    | &nbsp;Edit
    
button.btn.btn-default.pull-right(ng-click='goBack()')
    span.glyphicon.glyphicon-arrow-left
    | &nbsp;Back    