extends layout

block content

    div#wrap.container

        include includes/nav

        div(ng-view)

        div#push

    div#footer.container
        include includes/footer

    script(src='components/components.js')
    script(src='lib/cores.js')
    script(src='js/main.js')