!!! 5

html(lang='en', ng-app='myApp')

    head
        meta(charset='utf8')
        base(href='/')
        title Angular Hapi Couch
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='css/styles.css') 
        
        // lt IE 9
            script(src='components/bootstrap/assets/js/html5shiv.js')
            script(src='components/bootstrap/assets/js/respond.min.js')
            
        include includes/tracking                   
    
    body
        block content      